.registration {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    &-title {
      font-weight: 600;
      font-size: 36px;
      margin-bottom: 10px;
    }
    &-input {
      padding: 0 20px;
      border-radius: 15px;
      width: 410px;
      height: 65px;
      background: #ffffff;
      margin-bottom: 10px;
    }
    &-button {
      border-radius: 15px;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      width: 410px;
      height: 65px;
      background: #000000;
      cursor: pointer;
    }
    &-text {
      margin-top: 10px;
      text-align: center;
    }
    &-link {
      text-align: center;
      margin-top: 5px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
