@use "../../sass/variables" as *;

.profile {
  width: 100%;
  height: 100vh;
  background-color: $bg;
  &__header {
    width: 100%;
    height: 20vh;
    &-container {
      width: 410px;
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0 auto;
    }
    &-user {
      display: flex;
      align-items: center;
      &-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
      }
      &-text {
        font-weight: 500;
        font-size: 24px;
        margin-left: 20px;
        width: 155px;
      }
    }
  }
  &__main {
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 80vh;
    background-color: $bg-element;
    &-container {
      padding: 20px 0;
      width: 410px;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      margin: 0 auto;
    }
    &-link {
      border-radius: 15px;
      width: 100%;
      height: 50px;
      display: flex;
      padding: 0 20px;
      align-items: center;
      background: #f6f6f6;
      gap: 20px;
      cursor: pointer;
      &-wrapper {
        width: 100%;
      }
      &-img {
      }
      &-text {
        font-weight: 500;
        font-size: 20px;
      }
    }
    &-logout {
      border-radius: 15px;
      width: 100%;
      height: 50px;
      display: flex;
      padding: 0 20px;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      background: #f6f6f6;
    }
    &-rentals {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 30px;
      // background: #c9c9c9;
      height: 400px;
      overflow: scroll;
      overflow-x: hidden;
      &-title {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
